body {
    margin: 0;
    font-family: Roboto;
    background-color: #FCE0E8;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    margin: 40px auto;
    color: #ff0aa7;
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    color: #DDFFF7;
    background-color: #D8A3C2;
    padding: 6px 10px;
    border-radius: 15px;
    border: 1px solid #891056;
    margin: 10px auto;
}

li h4 {
    color: #ff0aa7;
    margin: 0;
    text-transform: capitalize;
}

li p {
    color: #333;
    margin: 8px 0 0;
}

footer {
    max-width: 1000px;
    border-radius: 20px;
    padding: 60px;
    margin: 60px auto 0 auto;
    background-color: #E7C1CC;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    background-color: #E7C1CC;
}

label {
    display: block;
    font-weight: bold;
    font-size: 0.9em;
    color: #333;
    margin: 16px 0 6px;
}

input,
select {
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.field {
    display: inline-block;
    margin: 0 10px;
}

button {
    color: white;
    border: 0;
    background: #ff0aa7;
    padding: 6px;
    min-width: 80px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #EC0A99;
    transition: 500ms;
    box-shadow: 5px 5px 8px;
}

footer a {
    text-align: center;
    display: block;
    color: #999;
    margin-top: 40px;
    font-size: 0.7em;
}

input label {
    background-color: #FFEBC5;
}

.new-item-form {
    margin: 0 auto;
    padding: 0px 10px;
}